<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/adminDashboardBackground.css}" />
<link rel="stylesheet" th:href="@{/css/adminRegistration.css}" />
<link rel="stylesheet" th:href="@{/css/adminDashboard.css}" />
</head>
<body>

<div class="container">
  <div class="col-md-8 offset-md-2">
   
   <div class="card-body">
    <div class="col-md-8 offset-md-2">
       <h3 class="text-center">Edit Flight Table </h3>
       
       <form action="">
       
       <label>DESTINATION:</label>
      <input type="text" class="form-control" />
       
       <label>DURATION OF FLIGHT:</label>
       <input type="number" class="form-control" />
       
       <label>FLIGHT NAME:</label>
       <input type="text" class="form-control" />
       
       <label>FLIGHT NO:</label>
	   <input type="text" class="form-control" />
	   
	   <label> SOURCE:</label>
	   <input type="text" class="form-control" />
	   
	   <label>TOTAL CAPACITY:</label>
	   <input type="number" class="form-control" />
	   
	   <label>CATEGORY:</label>
	   <input type="text" class="form-control"></input>
	   
	   <label>ENDING SEAT NO:</label>
	   <input type="number" class="form-control"/>
	   
	   <label>STARTING SEAT NO:</label>
	   <input type="number" class="form-control" />
	   
	   <label>TICKET COST:</label>
	   <input type="number" class="form-control" />
	   
	   <label>FLIGHT DAY:</label>
	   <input type="text" class="form-control" />
	   
	   <label>FLIGHT TIME:</label>
	   <input type="text" class="form-control" />
	   
	   <br />
	   <button type="button" class="btn btn-success">Save Changes</button>
	   
	   
       </form>
       
       
    </div>
   
   </div>
  
  </div>

</div>

</body>
</html>